<!-- loader -->
<!-- <div id="loader">
  <img src="../../assets/img/loading-icon.png" alt="icon" class="loading-icon">
</div> -->
<!-- * loader -->

<!-- App Header -->
<div class="appHeader">
  <div class="left">
      <a href="Home" class="headerButton goBack">
          <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
  </div>
  <div class="pageTitle">
      Pages
  </div>
  <div class="right">
  </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

  <div class="listview-title mt-1">App Pages</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <a href="Transactions" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Transactions
              </div>
          </a>
      </li>
      <li>
          <a href="TransactionDetail" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Transaction Detail
              </div>
          </a>
      </li>
      <li>
          <a href="TransactionVerification" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Transaction Verification
              </div>
          </a>
      </li>
      <li>
          <a href="Cards" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Cards
              </div>
          </a>
      </li>
      <li>
          <a href="Savings" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Savings
              </div>
          </a>
      </li>
      <li>
          <a href="Bills" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Bills
              </div>
          </a>
      </li>
      <li>
          <a href="Notifications" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Notifications
              </div>
          </a>
      </li>
      <li>
          <a href="NotificationDetail" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Notification Detail
              </div>
          </a>
      </li>
      <li>
          <a href="Settings" class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Settings
              </div>
          </a>
      </li>
  </ul>

  <div class="listview-title">Cryptocurrency</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <a href="CryptoHome" class="item">
              <div class="icon-box bg-info">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Home
              </div>
          </a>
      </li>
      <li>
          <a href="CoinDetail" class="item">
              <div class="icon-box bg-info">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Coin Detail
              </div>
          </a>
      </li>
      <li>
          <a href="Exchange" class="item">
              <div class="icon-box bg-info">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Exchange
              </div>
          </a>
      </li>
      <li>
          <a href="Portfolio" class="item">
              <div class="icon-box bg-info">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Portfolio
              </div>
          </a>
      </li>
      <li>
          <a href="CryptoTransactions" class="item">
              <div class="icon-box bg-info">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Transactions
              </div>
          </a>
      </li>
  </ul>

  <div class="listview-title">Authentication</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <a href="Login" class="item">
              <div class="icon-box bg-danger">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Login
              </div>
          </a>
      </li>
      <li>
          <a href="Register" class="item">
              <div class="icon-box bg-danger">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Register
              </div>
          </a>
      </li>
      <li>
          <a href="ForgetPassword" class="item">
              <div class="icon-box bg-danger">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Forgot Password
              </div>
          </a>
      </li>
      <li>
          <a href="SmsVerification" class="item">
              <div class="icon-box bg-danger">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  SMS Verification
              </div>
          </a>
      </li>
      <li>
          <a href="QrCode" class="item">
              <div class="icon-box bg-danger">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  QR Code Verification
              </div>
          </a>
      </li>
  </ul>

  <div class="listview-title">Blog</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <a href="BlogCategory" class="item">
              <div class="icon-box bg-secondary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Blog Category
              </div>
          </a>
      </li>
      <li>
          <a href="BlogPost" class="item">
              <div class="icon-box bg-secondary">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Blog Post
              </div>
          </a>
      </li>
  </ul>

  <div class="listview-title">Theme</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <div class="item">
              <div class="icon-box bg-primary">
                  <ion-icon name="moon-outline"></ion-icon>
              </div>
              <div class="in">
                  <div>Dark Mode</div>
                  <div class="form-check form-switch  ms-2">
                      <input class="form-check-input dark-mode-switch" type="checkbox" id="darkmodeSwitch">
                      <label class="form-check-label" for="darkmodeSwitch"></label>
                  </div>
              </div>
          </div>
      </li>
  </ul>

  <div class="listview-title">Components</div>
  <ul class="listview image-listview inset mb-2">
      <li>
          <a href="Components" class="item">
              <div class="icon-box bg-dark">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Discover Components
              </div>
          </a>
      </li>
  </ul>


  <div class="listview-title">Others</div>
  <ul class="listview image-listview inset mb-3">
      <li>
          <a href="About" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  About Page
              </div>
          </a>
      </li>
      <li>
          <a href="Contact" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Contact
              </div>
          </a>
      </li>
      <li>
          <a href="Faq" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  FAQ
              </div>
          </a>
      </li>
      <li>
          <a href="FourZeroFour" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  404
              </div>
          </a>
      </li>
      <li>
          <a href="SplashIcon" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Splash Icon
              </div>
          </a>
      </li>
      <li>
          <a href="SplashImage" class="item">
              <div class="icon-box bg-success">
                  <ion-icon name="cube-outline"></ion-icon>
              </div>
              <div class="in">
                  Splash Image
              </div>
          </a>
      </li>
  </ul>

</div>
<!-- * App Capsule -->


<app-footer></app-footer>
