  <!-- App Header -->
  <div class="appHeader">
    <div class="left">
        <a href="Components" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Charts</div>
    <div class="right">
    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">

    <div class="section mt-2">
        <div class="section-title">Apex Charts</div>
        <div class="card">
            <div class="card-body">
                Finapp using <a href="https://apexcharts.com/" target="_blank" rel="nofollow">Apex Charts</a>.
                Easily customizable, modern & interactive open-source charts
            </div>
        </div>
    </div>

    <div class="section mt-2 mb-3">
        <div class="section-title">Line</div>
        <div class="card">
            <div class="card-body">
                <div id="chart-line"></div>
            </div>
        </div>
    </div>

    <div class="section mt-3">
        <div class="row">
            <div class="col">
                <div class="section-title">Pie</div>
                <div class="card">
                    <div class="card-body pe-0 ps-0">
                        <div id="chart-pie"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="section-title">Donut</div>
                <div class="card">
                    <div class="card-body pe-0 ps-0">
                        <div id="chart-donut"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section mt-3">
        <div class="section-title">Bar</div>
        <div class="card">
            <div class="card-body">
                <div id="chart-bar"></div>
            </div>
        </div>
    </div>

    <div class="section mt-3 mb-3">
        <div class="section-title">CandleStick</div>
        <div class="card">
            <div class="card-body">
                <div id="chart-candlestick"></div>
            </div>
        </div>
    </div>

    <div class="section mb-3">
        <a href="https://apexcharts.com/" target="_blank" rel="nofollow" class="btn btn-primary btn-lg btn-block">More Example</a>
    </div>

</div>
<!-- * App Capsule -->


<app-footer></app-footer>
